<html> 

<head>
<title>ML model</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body
{
	color: #336699;
}
</style>
</head>

<body align='center' >
	<br><br>
    <h1>Image Classifier</h1>
    <img id="output" height="200" width="300" src='/static/front.png'/>
    <br><br>
    <form action="/predict" method="post" enctype="multipart/form-data">
     <input type="file" name="image" value="Upload" onchange="loadFile(event)">
     <input type="submit" value="Predict"> 
     <h1 id='result'/>

	</form>
	<script>
	var loadFile = function(event) {
    var output = document.getElementById('output');
    output.src = URL.createObjectURL(event.target.files[0]);
  	};
	var l={{label}};
	var res = document.getElementById('result');
	if(l==0)
	{
		res.innerHTML='It was a <b> Cat. </b>';
	}
	else
	{
		res.innerHTML='It was a <b> Dog. </b>';
	}

  	
	</script>
</body>

</html>